<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>DAHAR || Tempat Neangan Restoran Cita Rasa Sunda Asli</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <a href="#main" class="skip-link">Skip to Content</a>

  <header class="header">
    <div class="header__drawer">
      <h1 class="header__title">DAHAR!</h1>
    </div>
    <a href="#" class="header__menu" aria-label="navigation-menu">☰</a>
    <nav id="nav" class="nav">
      <div class="close__element">
        <a href="#" aria-label="close navigation menu" class="close__menu">&times;</a>
      </div>
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="https://lahiardhan.vercel.app/" target="__blank">About Us</a></li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <div class="hero__inner">
      <h2 class="hero__title">The place where you can find Sundanese Food.</h2>
      <p class="hero__tagline">
        Sundanese cuisine is the cuisine of the Sundanese people of Western Java, and Banten, Indonesia. It is one of the most popular foods in Indonesia.
      </p>
    </div>
  </div>

  <main id="main">
    <section class="content">
      <h2 class="list-restoran__label">
        Explore Restaurant
        <hr>
      </h2>
      <div class="list-restoran">
        <article class="restoran-item">
          <a href="#">
            <img class="restoran-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/41" alt="Gambar Restoran Bring Your Cafe">
            <div class="restoran-item__content">
              <p class="restoran-item__city">Medan | <span class="restoran-item__rating" aria-label="rating restoran 4.6">&star; 4.6</span>
              </p>
              <h3 class="restoran-item__name">Bring Your Phone Cafe</h3>
            </div>
          </a>
        </article>
        <article class="restoran-item">
          <a href="#">
            <img class="restoran-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Gambar Restoran Run The Gun">
            <div class="restoran-item__content">
              <p class="restoran-item__city">Bali | <span class="restoran-item__rating" aria-label="rating restoran 4.6">&star;4.6</span>
              </p>
              <h3 class="restoran-item__name">Run The Gun</h3>
            </div>
          </a>
        </article>
        <article class="restoran-item">
          <a href="#">
            <img class="restoran-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/29" alt="Gambar Restoran Pangsit Express">
            <div class="restoran-item__content">
              <p class="restoran-item__city">Ternate | <span class="restoran-item__rating" aria-label="rating restoran 4.8">&star;4.8</span>
              </p>
              <h3 class="restoran-item__name">Pangsit Express</h3>
            </div>
          </a>
        </article>
        <article class="restoran-item">
          <a href="#">
            <img class="restoran-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Gambar Restoran Ducky Duck">
            <div class="restoran-item__content">
              <p class="restoran-item__city">Malang | <span class="restoran-item__rating" aria-label="rating restoran 4.7">&star;4.7</span>
              </p>
              <h3 class="restoran-item__name">Ducky Duck</h3>
            </div>
          </a>
        </article>
        <article class="restoran-item">
          <a href="#">
            <img class="restoran-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/40" alt="Gambar Restoran Kafein">
            <div class="restoran-item__content">
              <p class="restoran-item__city">Bali | <span class="restoran-item__rating" aria-label="rating restoran 3.8">&star;3.8</span>
              </p>
              <h3 class="restoran-item__name">Kafein</h3>
            </div>
          </a>
        </article>
        <article class="restoran-item">
          <a href="#">
            <img class="restoran-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Gambar Restoran Makan Mudah">
            <div class="restoran-item__content">
              <p class="restoran-item__city">Malang | <span class="restoran-item__rating" aria-label="rating restoran 4.6">&star;4.6</span>
              </p>
              <h3 class="restoran-item__name">Makan mudah</h3>
            </div>
          </a>
        </article>
        <article class="restoran-item">
          <a href="#">
            <img class="restoran-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Gambar Restoran Saya Suka">
            <div class="restoran-item__content">
              <p class="restoran-item__city">Surabaya | <span class="restoran-item__rating" aria-label="rating restoran 3.6">&star;3.6</span>
              </p>
              <h3 class="restoran-item__name">Saya Suka</h3>
            </div>
          </a>
        </article>
        <article class="restoran-item">
          <a href="#">
            <img class="restoran-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/45" alt="Gambar Restoran Gigitan Cepat">
            <div class="restoran-item__content">
              <p class="restoran-item__city">Aceh | <span class="restoran-item__rating" aria-label="rating restoran star;4">&star;4</span>
              </p>
              <h3 class="restoran-item__name">Gigitan Cepat</h3>
            </div>
          </a>
        </article>
        <article class="restoran-item">
          <a href="#">
            <img class="restoran-item__thumbnail" src="https://restaurant-api.dicoding.dev/images/medium/04" alt="Gambar Restoran Fairy Cafe">
            <div class="restoran-item__content">
              <p class="restoran-item__city">Malang | <span class="restoran-item__rating" aria-label="rating restoran 3.9">&star;3.9</span>
              </p>
              <h3 class="restoran-item__name">Fairy Cafe</h3>
            </div>
          </a>
        </article>
      </div>
    </section>

    <section class="other">
      <article class="jobs-item">
        <img class="jobs-item__thumbnail" src="/images/heros/hero-image_4.jpg" alt="">
        <div class="jobs-item__content">
          <h3 class="jobs-item__name">Join our team</h3>
          <p class="jobs-item__city">We're always hiring and excited to add new talent to our team.</p>
          <p class="jobs-item__more">-LEARN MORE</p>
        </div>
      </article>
      <article class="info-item">
        <div class="info-item__thumbnail"></div>
        <div class="jobs-item__content">
          <h3 class="jobs-item__name">Sustainability</h3>
          <p class="jobs-item__city">Comitted to the triple bottom line-people, planet and profit-we do everything we can to make our restaurant environment as healthy as possible.</p>
          <p class="info-item__more">-LEARN MORE</p>
        </div>
      </article>
    </section>
  </main>

  <footer>
    <ul>
      <li><a href="#">Help</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <p>Copyright &copy; 2022 - All Rights Reserved DAHAR!.</p>
  </footer>
</body>

</html>